{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-file-csv"></i>  Importation de Fichier CSV
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'import_csv' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="csv_file" class="form-label">Choisir un fichier CSV à importer :</label>
              <input type="file" class="form-control" id="csv_file" name="csv_file">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Importer</button>
          </form>
        </div>
        <button id="showReference" class="btn btn-secondary mt-3"><i class="fas fa-info-circle"></i> Afficher la référence du CSV</button> </div>
    </div>
        <div id="referenceTable" class="excel-view mt-3" style="display: none;">
          <div class="excel-row">
            <div class="excel-cell-header">Référence</div>
            <div class="excel-cell-header">État</div>
            <div class="excel-cell-header">Marque</div>
            <div class="excel-cell-header">Date d'Acquisition</div>
            <div class="excel-cell-header">Nom du Laboratoire</div>
            <div class="excel-cell-header">Localisation</div>
            <div class="excel-cell-header">Téléphone</div>
            <div class="excel-cell-header">Email</div>
            <div class="excel-cell-header">Abréviation</div>
            <div class="excel-cell-header">Nom de l'Établissement</div>
            <div class="excel-cell-header">Adresse</div>
            <div class="excel-cell-header">Téléphone de l'Établissement</div>
            <div class="excel-cell-header">Email de l'Établissement</div>
            <div class="excel-cell-header">Catégorie</div>
          </div>
        </div>
        <div id="separatorSpecification" class="separator-specification mt-3" style="display: none;">
          <p class="text-muted">Le séparateur de ce fichier CSV doit être le point-virgule (;).</p>
        </div>
     
  </div>
</div>

<script>
  const showReferenceBtn = document.getElementById("showReference");
  const referenceTable = document.getElementById("referenceTable");
  const separatorSpecification = document.getElementById("separatorSpecification");

  showReferenceBtn.addEventListener("click", () => {
    if (referenceTable.style.display === "none") {
      referenceTable.style.display = "block";
      separatorSpecification.style.display = "block";
    } else {
      referenceTable.style.display = "none";
      separatorSpecification.style.display = "none";
    }
  });
</script>

<style>
  /* Add your custom styles here */
  .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }

  .card-body {
    padding: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    font-weight: bold;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .excel-view {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .excel-row {
    display: flex;
  }

  .excel-cell {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
  }
  .btn-secondary {
    background-color: #6c757d;
    border: none;
    font-weight: bold;
  }

  .btn-secondary:hover {
    background-color: #545b62;
  }

  /* Style pour les en-têtes du tableau */
  .excel-cell-header {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    background-color: #f2f2f2;
  }
</style>
{% endblock content %}
