{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Importation de Fichier CSV
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'import_csv' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="csv_file" class="form-label">Choisir un fichier CSV à importer :</label>
              <input type="file" class="form-control" id="csv_file" name="csv_file">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-upload"></i> Importer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if messages %}
<div class="container mt-3">
  <ul class="messages">
    {% for message in messages %}
    <li class="alert {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<style>
  /* Ajoutez du style personnalisé ici */
  .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }

  .card-body {
    padding: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    font-weight: bold;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
  }
</style>
{% endblock content %}
